body {
  background-color: #fff;
  font-family: 'Lato', 'Open Sans', sans-serif;
}

.MainComponent {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .header {
      flex-grow: 3;
      text-align: center;
      font-size: 50px;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .row-container {
      flex-grow: 1;
      width: 33.33%;
    }
  }
}

.TweetsComponent {
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 22px;
  font-size: 14px;
  padding: 10px;
  border: 1px solid black;
  .screen-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
