body {
  background-color: #fff;
  font-family: 'Lato', 'Open Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.MainComponent {
  .header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #sortableTweetsComponents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      flex-grow: 1;
      width: 33.33%;
      display: block;
    }
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      flex-grow: 1;
      width: 33.33%;
    }
  }
}

.TweetsComponent {
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 32px;
  font-size: 24px;
  font-weight: 300;
  padding: 10px;
  border: 1px solid black;
  .screen-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
}

.TweetComponent {
  padding: 5px;
  border-bottom: 1px dotted black;
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #8A8A8A;
    font-size: 16px;
    a {
      color: #009ABF;
      &:visited {
        color: #8A8A8A;
      }
    }
    .twitterLink {
      text-align: right;
    }
  }
  &:last-child {
    border-bottom: none;
  }
}
