body {
  background-color: #fff;
  font-family: 'Lato', 'Open Sans', sans-serif;
}

.MainComponent {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .row-container {
      flex-grow: 1;
      min-width: 33.33%;
    }
  }
}

.TweetsComponent {
  background-color: #aaa;
  margin-left: 10px;
  margin-right: 10px;
}
